



<div class="row justify-content-center">
	<div class="col-md-6 text-center">
		<a class="d-inline-block" href="#"><h3 class="text-success font-weight-bold" style="font-size: 70px">zox</h3></a>
		 
		 <ul class="list-unstyled d-flex justify-content-center">
			 <li>
				 <a class="d-inline-block text-center bg-dark mr-1 text-white rounded-circle" style="width:40px; height: 40px; line-height: 40px" href="#">
				 <i class="fa fa-facebook"></i></a></li>
			 <li><a class="d-inline-block text-center bg-dark mr-1 text-white rounded-circle" style="width:40px; height: 40px; line-height: 40px" href="#">
				 <i class="fa fa-twitter"></i></a></li>
			 <li><a class="d-inline-block text-center bg-dark mr-1 text-white rounded-circle" style="width:40px; height: 40px; line-height: 40px" href="#">
				 <i class="fa fa-pinterest"></i></a></li>
			 <li><a class="d-inline-block text-center bg-dark mr-1 text-white rounded-circle" style="width:40px; height: 40px; line-height: 40px" href="#">
				 <i class="fa fa-instagram "></i></a></li>
			 <li><a class="d-inline-block text-center bg-dark mr-1 text-white rounded-circle" style="width:40px; height: 40px; line-height: 40px" href="#">
				 <i class="fa fa-google-plus"></i></a></li>
			 <li><a class="d-inline-block text-center bg-dark mr-1 text-white rounded-circle" style="width:40px; height: 40px; line-height: 40px" href="#">
				 <i class="fa fa-youtube-play"></i></a></li>
			 <li><a class="d-inline-block text-center bg-dark mr-1 text-white rounded-circle" style="width:40px; height: 40px; line-height: 40px" href="#">
				 <i class="fa fa-linkedin "></i></a></li>
			 <li><a class="d-inline-block text-center bg-dark mr-1 text-white rounded-circle" style="width:40px; height: 40px; line-height: 40px" href="#">
				 <i class="fa fa-tumblr "></i></a></li>			  
		 </ul>

		 <ul  class="list-unstyled d-flex justify-content-center">
			 <li><a class="text-uppercase mr-3" style="font-size: 14px; color: #888" href="#">Buy Theme</a></li>
			 <li><a class="text-uppercase mr-3" style="font-size: 14px; color: #888" href="#">Entertainment</a></li>
			 <li><a class="text-uppercase mr-3" style="font-size: 14px; color: #888" href="#">Fashion</a></li>
			 <li><a class="text-uppercase mr-3" style="font-size: 14px; color: #888" href="#">Sports</a></li>
			 <li><a class="text-uppercase mr-3" style="font-size: 14px; color: #888" href="#">Business</a></li>
			 <li><a class="text-uppercase mr-3" style="font-size: 14px; color: #888" href="#">Shop</a></li>
		 </ul>
	</div>
</div>



















