<div class="row">
	
	<div class="col-md-12 text-center mb-3">
		<h2 class="text-uppercase" style="font-size: 25px">videos</h2>
	</div>



	<div class="col-md-7"> 
	<a href="#">
		<div class="card bg-dark text-white border-0 rounded-0">
			<img style="height: 450px" class="card-img" src="asset/images/gamer.jpg" alt="Card image">
			<div class="card-img-overlay" style="top: 65% ">
					<p class="mb-0 font-weight-bold text-success " style="font-size: 11px; "><span class="text-uppercase">Entertainment</span> / <small class="text-white">9 day ago</small></p>
					<h2 class="card-title text-uppercase" style="font-size: 35px;">Illinois' Financial <br> Crisis Fallout</h2>		    
					<p class=" ">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>
			</div>
	</div> 
	</a>
	</div>


 
	<div class="col-md-5"> 		 

			<a href="#">
				<div class="media mt-3">
				  <img style="width: 200px; height: 130px" class="align-self-center mr-3" src="asset/images/couple-fashion2-400x240.jpg" alt="Generic placeholder image">
				  <div class="media-body">
				   <p class="mb-0 font-weight-bold text-success " style="font-size: 12px; "><span class="text-uppercase">Entertainment</span> / <small style="font-size: 12px" class="text-secondary " >9 day ago</small></p>
				    <h2 class="font-weight-bold text-dark mt-2" style="font-size: 18px; font-weight: 600">The final 6 ‘Game of Thrones’ episodes might feel like a full season</h2>
				    
				  </div>
				</div>
			</a>
			<a href="#">
				<div class="media mt-1 mt-3">
				  <img style="width: 200px; height: 130px" class="align-self-center mr-3" src="asset/images/football-400x240.jpg" alt="Generic placeholder image">
				  <div class="media-body">
				   <p class="mb-0 font-weight-bold text-success " style="font-size: 11px; "><span class="text-uppercase">Entertainment</span> / <small style="font-size: 12px" class="text-secondary">9 day ago</small></p>
				    <h2 class="font-weight-bold text-dark  mt-2" style="font-size: 18px; font-weight: 600">The final 6 ‘Game of Thrones’ episodes might feel like a full season</h2>
				    
				  </div>
				</div>
			</a>
			<a href="#">
				<div class="media mt-3">
				  <img style="width: 200px; height: 130px" class="align-self-center mr-3" src="asset/images/couple-fashion2-400x240.jpg" alt="Generic placeholder image">
				  <div class="media-body">
				   <p class="mb-0 font-weight-bold text-success " style="font-size: 12px; "><span class="text-uppercase">Entertainment</span> / <small style="font-size: 12px" class="text-secondary " >9 day ago</small></p>
				    <h2 class="font-weight-bold text-dark mt-2" style="font-size: 18px; font-weight: 600">The final 6 ‘Game of Thrones’ episodes might feel like a full season</h2>
				    
				  </div>
				</div>
			</a>

		 


	</div>
</div>