  

  
  
<div class="row mt-1" ng-controller='blogArticaleClt'>
	<!-- feture asid 1-->
	<div class="col-md-3">
	  <div class="row">
		<div class="col-sm-6 col-md-12" ng-repeat='user in aside | limitTo:limiTation'>
					<a class="d-block mt-3" href="#" >
							<div class="card future-aside-card border-0 rounded-0">
							<img class="card-img-top mb-2 rounded-0 "  src="{{user.imgUrl}}" alt="Card image cap">
							<div class="card-body p-0">		     
								<p class="card-text text-secondary mb-2 text-uppercase font-weight-bold" style="font-size: 11px"><span>{{user.tags}}</span>/ <small >{{user.date}}</small></p>
								
									<div class="media">
									<p class="mb-0 mr-3 text-secondary font-weight-bold" style="font-size: 30px ">{{user.si}}</p>
									<div class="media-body p-0">
										 <h2 class="font-weight-bold text-dark" style="font-size: 15px; font-weight: 600">{{user.posttitle}}</h2> 
									</div>
								</div>
							</div>
						</div>
						</a> 

					</div>  
				</div>
				
			</div> 

	
	<div class="col-md-6">	 
		<div class="card future-card-big bg-dark border-0 text-white mt-3" ng-repeat='artical in MidArtical | limitTo:limited'>
		  <img class="card-img rounded-0" src="{{artical.imgUrl}}" alt="Card image">
		  <div class="card-img-overlay" style="top: 65% ">
		  		<p class="mb-0 font-weight-bold text-success " style="font-size: 11px; "><span class="text-uppercase">{{artical.category}}</span> / <small class="text-white">{{artical.date}}</small></p>
		    <h2 class="card-title text-uppercase" style="font-size: 35px;">{{artical.posttitle}}</h2>		    
		    <p class=" ">{{artical.postsubtitle}}</p>
		  </div>
		</div> 

	</div>
 

	<div class="col-md-3 pr-4"> 
		<div >
			<small class="text-capitalize text-center d-block text-secondary">advertisment</small>
			<a  href="#"><img class="w-100" src="asset/images/zox300.png" alt=""></a>
		</div>
 

		 <ul class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Latest</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">video</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">gallery</a>
		  </li>
		</ul>
		<div class="tab-content" id="pills-tabContent">
		  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
		  		<div class="media">
				  <img class="align-self-center mr-3" src="asset/images/vr-headset-80x80.jpg" alt="Generic placeholder image">
				  <div class="media-body">
				   <p class="mb-0 font-weight-bold text-success " style="font-size: 11px; "><span class="text-uppercase">Entertainment</span> / <small class="text-secondary">9 day ago</small></p>
				    <h2 class="font-weight-bold text-dark" style="font-size: 15px; font-weight: 600">The final 6 ‘Game of Thrones’ episodes might feel like a full season</h2>
				    
				  </div>
				</div>
				<div class="media">
				  <img class="align-self-center mr-3" src="asset/images/apartments-80x80.jpg" alt="Generic placeholder image">
				  <div class="media-body">
				   <p class="mb-0 font-weight-bold text-success " style="font-size: 11px; "><span class="text-uppercase">Entertainment</span> / <small class="text-secondary">9 day ago</small></p>
				    <h2 class="font-weight-bold text-dark" style="font-size: 15px; font-weight: 600">The final 6 ‘Game of Thrones’ episodes might feel like a full season</h2>
				    
				  </div>
				</div>
				<div class="media">
				  <img class="align-self-center mr-3" src="asset/images/blue-car-80x80.jpg" alt="Generic placeholder image">
				  <div class="media-body">
				   <p class="mb-0 font-weight-bold text-success " style="font-size: 11px; "><span class="text-uppercase">Entertainment</span> / <small class="text-secondary">9 day ago</small></p>
				    <h2 class="font-weight-bold text-dark" style="font-size: 15px; font-weight: 600">The final 6 ‘Game of Thrones’ episodes might feel like a full season</h2>		    
				  </div>
				</div>
				<div class="media">
				  <img class="align-self-center mr-3" src="asset/images/woman-skate-80x80.jpg" alt="Generic placeholder image">
				  <div class="media-body">
				   <p class="mb-0 font-weight-bold text-success " style="font-size: 11px; "><span class="text-uppercase">Entertainment</span> / <small class="text-secondary">9 day ago</small></p>
				    <h2 class="font-weight-bold text-dark" style="font-size: 15px; font-weight: 600">The final 6 ‘Game of Thrones’ episodes might feel like a full season</h2>
				    
				  </div>
				</div>
				<div class="media">
				  <img class="align-self-center mr-3" src="asset/images/politicians-80x80.jpg" alt="Generic placeholder image">
				  <div class="media-body">
				   <p class="mb-0 font-weight-bold text-success " style="font-size: 11px; "><span class="text-uppercase">Entertainment</span> / <small class="text-secondary">9 day ago</small></p>
				    <h2 class="font-weight-bold text-dark" style="font-size: 15px; font-weight: 600">The final 6 ‘Game of Thrones’ episodes might feel like a full season</h2>
				    
				  </div>
				</div>
				<div class="media">
				  <img class="align-self-center mr-3" src="asset/images/business-woman-80x80.jpg" alt="Generic placeholder image">
				  <div class="media-body">
				   <p class="mb-0 font-weight-bold text-success " style="font-size: 11px; "><span class="text-uppercase">Entertainment</span> / <small class="text-secondary">9 day ago</small></p>
				    <h2 class="font-weight-bold text-dark" style="font-size: 15px; font-weight: 600">The final 6 ‘Game of Thrones’ episodes might feel like a full season</h2>
				    
				  </div>
				</div>
				<div class="media">
				  <img class="align-self-center mr-3" src="asset/images/woman-brunette2-80x80.jpg" alt="Generic placeholder image">
				  <div class="media-body">
				   <p class="mb-0 font-weight-bold text-success " style="font-size: 11px; "><span class="text-uppercase">Entertainment</span> / <small class="text-secondary">9 day ago</small></p>
				    <h2 class="font-weight-bold text-dark" style="font-size: 15px; font-weight: 600">The final 6 ‘Game of Thrones’ episodes might feel like a full season</h2>
				    
				  </div>
				</div>
				<div class="media">
				  <img class="align-self-center mr-3" src="asset/images/game-thrones-80x80.jpg" alt="Generic placeholder image">
				  <div class="media-body">
				   <p class="mb-0 font-weight-bold text-success " style="font-size: 11px; "><span class="text-uppercase">Entertainment</span> / <small class="text-secondary">9 day ago</small></p>
				    <h2 class="font-weight-bold text-dark" style="font-size: 15px; font-weight: 600">The final 6 ‘Game of Thrones’ episodes might feel like a full season</h2>
				    
				  </div>
				</div>
				<div class="media">
				  <img class="align-self-center mr-3" src="asset/images/women-computer-80x80.jpg" alt="Generic placeholder image">
				  <div class="media-body">
				   <p class="mb-0 font-weight-bold text-success " style="font-size: 11px; "><span class="text-uppercase">Entertainment</span> / <small class="text-secondary">9 day ago</small></p>
				    <h2 class="font-weight-bold text-dark" style="font-size: 15px; font-weight: 600">The final 6 ‘Game of Thrones’ episodes might feel like a full season</h2>
				    
				  </div>
				</div>
				<div class="media">
				  <img class="align-self-center mr-3" src="asset/images/game-thrones-80x80.jpg" alt="Generic placeholder image">
				  <div class="media-body">
				   <p class="mb-0 font-weight-bold text-success " style="font-size: 11px; "><span class="text-uppercase">Entertainment</span> / <small class="text-secondary">9 day ago</small></p>
				    <h2 class="font-weight-bold text-dark" style="font-size: 15px; font-weight: 600">The final 6 ‘Game of Thrones’ episodes might feel like a full season</h2>
				    
				  </div>
				</div> 

				<div class="mt-2">
						<a  class="text-danger text-uppercase"  ui-sref="allnews">all news 
							<i style="font-size: 13px" class="fa fa-arrow-right "></i></a>
					</div>

		  </div>
		  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">..sd.</div>
		  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">.ee..</div>
		</div> 
	
	</div>
</div>




<!-- catagory area -->
<div class="pt-2" ng-controller='catagoryEntertainment'>
	<div class="catagory-entertainment" ng-include src='entertainment.url'></div>
</div>



<!-- video gallery -->

<div class="pt-5" ng-controller="catagoryVideoClt">
	<div class="video-gallery" ng-include src="videos.url"></div>
</div>

<!-- caragory business  -->
<div class="pt-5 " ng-controller="catagoryBusinessClt">
	<div class="catagory-business" ng-include src='business.url'></div>
</div>


 






