


<div class="row">
	<div class="col-md-12 text-center mb-3 mt-4 ">
		<h3 class="text-uppercase font-weight-bold" style="font-size: 35px">shop </h3>
	</div>
</div>



<div class="row">
	<div class="col-md-3">
		<h5 class="text-uppercase font-weight-bold border border-left-0 border-right-0 border-top-0 pb-1"  style="font-size: 14px">CATEGORIES</h5>
		 <ul class="list-unstyled">
		 	<li><a class="text-secondary" href="#">Men's</a></li>
		 	<li><a class="text-secondary" href="#">Uncategorized</a></li>
		 	<li><a class="text-secondary" href="#">Women's</a></li>
		 </ul>

		 <h5 class="text-uppercase font-weight-bold border border-left-0 border-right-0 border-top-0 pb-1 mt-5"  style="font-size: 14px">TOP RATED PRODUCTS</h5>

		 <div class="mt-3">
		 	
		 	<a class="text-dark" href="#">
		 		<div class="media  border border-left-0 border-right-0 border-top-0 pb-3 mb-3 ">
			  <div class="media-body">
			    <p class="mt-0 mb-1">Pinstripe Blazer</p>
			    <span class="text-secondary mr-2"><del>$400.00</del></span>
			    <span class="text-dark">$350.00</span>
			  </div>
			  <img style="width: 80px; height: 100px;" class="ml-3" src="asset/images/man-blazer.jpg" alt="Generic placeholder image">
			</div>
		 	</a>
			<a class="text-dark" href="#">
				<div class="media  border border-left-0 border-right-0 border-top-0 pb-3 mb-3 ">
			  <div class="media-body">
			    <p class="mt-0 mb-1">Pinstripe Blazer</p>
			    <span class="text-secondary mr-2"><del>$400.00</del></span>
			    <span class="text-dark">$340.00</span>
			  </div>
			  <img style="width: 80px; height: 100px;" class="ml-3" src="asset/images/woman5.jpg" alt="Generic placeholder image">
			</div>
			</a>
			<a class="text-dark" href="#">
				<div class="media  border border-left-0 border-right-0 border-top-0 pb-3 mb-3 ">
			  <div class="media-body">
			    <p class="mt-0 mb-1">Pinstripe Blazer</p>
			    <span class="text-secondary mr-2"><del>$400.00</del></span>
			    <span class="text-dark">$340.00</span>
			  </div>
				  <img style="width: 80px; height: 100px;" class="ml-3" src="asset/images/woman2.jpg" alt="	Generic placeholder image">
				</div>
			</a>
			<a class="text-dark" href="#">
				<div class="media  border border-left-0 border-right-0 border-top-0 pb-3 mb-3 ">
			  <div class="media-body">
			    <p class="mt-0 mb-1">Pinstripe Blazer</p>
			    <span class="text-secondary mr-2"><del>$400.00</del></span>
			    <span class="text-dark">$340.00</span>
			  </div>
				  <img style="width: 80px; height: 100px;" class="ml-3" src="asset/images/woman3.jpg" alt="	Generic placeholder image">
				</div>
			</a>



		 </div>



	</div><!-- end col 3 -->


	<div class="col-md-9">
		<div class="row">
			<div class="col-sm-6 col-md-3  mt-2">
				<div class="card border-0" style="">
				  <img class="card-img-top w-100" src="asset/images/woman4.jpg" alt="Card image cap">
				  <div class="card-body p-0">
				    <h5 class="card-title font-weight-bold mb-1 mt-3" style="font-size: 17px ">Athletic Graphic Tee</h5>
				    <ul class="list-unstyled d-flex mb-1">
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    </ul>
				    <span class="text-secondary mr-2" style="font-size: 14px"><del>$40.43</del></span>
				    <span class="text-dark"  style="font-size: 14px">$30.00</span>
				  </div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3  mt-2">
				<div class="card border-0" style="">
				  <img class="card-img-top w-100" src="asset/images/woman3.jpg" alt="Card image cap">
				  <div class="card-body p-0">
				    <h5 class="card-title font-weight-bold mb-1 mt-3" style="font-size: 17px ">Athletic Graphic Tee</h5>
				    <ul class="list-unstyled d-flex mb-1">
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    </ul>
				    <span class="text-secondary mr-2" style="font-size: 14px"><del>$40.43</del></span>
				    <span class="text-dark"  style="font-size: 14px">$30.00</span>
				  </div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3  mt-2">
				<div class="card border-0" style="">
				  <img class="card-img-top w-100" src="asset/images/store2.jpg" alt="Card image cap">
				  <div class="card-body p-0">
				    <h5 class="card-title font-weight-bold mb-1 mt-3" style="font-size: 17px ">Athletic Graphic Tee</h5>
				    <ul class="list-unstyled d-flex mb-1">
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    </ul>
				    <span class="text-secondary mr-2" style="font-size: 14px"><del>$40.43</del></span>
				    <span class="text-dark"  style="font-size: 14px">$30.00</span>
				  </div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3  mt-2">
				<div class="card border-0" style="">
				  <img class="card-img-top w-100" src="asset/images/woman5.jpg" alt="Card image cap">
				  <div class="card-body p-0">
				    <h5 class="card-title font-weight-bold mb-1 mt-3" style="font-size: 17px ">Athletic Graphic Tee</h5>
				    <ul class="list-unstyled d-flex mb-1">
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    </ul>
				    <span class="text-secondary mr-2" style="font-size: 14px"><del>$40.43</del></span>
				    <span class="text-dark"  style="font-size: 14px">$30.00</span>
				  </div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 mt-5">
				<div class="card border-0" style="">
				  <img class="card-img-top w-100" src="asset/images/woman2.jpg" alt="Card image cap">
				  <div class="card-body p-0">
				    <h5 class="card-title font-weight-bold mb-1 mt-3" style="font-size: 17px ">Athletic Graphic Tee</h5>
				    <ul class="list-unstyled d-flex mb-1">
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    </ul>
				    <span class="text-secondary mr-4" style="font-size: 14px"><del>$40.43</del></span>
				    <span class="text-dark"  style="font-size: 14px">$30.00</span>
				  </div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3  mt-5">
				<div class="card border-0" style="">
				  <img class="card-img-top w-100" src="asset/images/woman4.jpg" alt="Card image cap">
				  <div class="card-body p-0">
				    <h5 class="card-title font-weight-bold mb-1 mt-3" style="font-size: 17px ">Athletic Graphic Tee</h5>
				    <ul class="list-unstyled d-flex mb-1">
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    </ul>
				    <span class="text-secondary mr-2" style="font-size: 14px"><del>$40.43</del></span>
				    <span class="text-dark"  style="font-size: 14px">$30.00</span>
				  </div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3  mt-5">
				<div class="card border-0" style="">
				  <img class="card-img-top w-100" src="asset/images/woman3.jpg" alt="Card image cap">
				  <div class="card-body p-0">
				    <h5 class="card-title font-weight-bold mb-1 mt-3" style="font-size: 17px ">Athletic Graphic Tee</h5>
				    <ul class="list-unstyled d-flex mb-1">
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    </ul>
				    <span class="text-secondary mr-2" style="font-size: 14px"><del>$40.43</del></span>
				    <span class="text-dark"  style="font-size: 14px">$30.00</span>
				  </div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3  mt-5">
				<div class="card border-0" style="">
				  <img class="card-img-top w-100" src="asset/images/store2.jpg" alt="Card image cap">
				  <div class="card-body p-0">
				    <h5 class="card-title font-weight-bold mb-1 mt-3" style="font-size: 17px ">Athletic Graphic Tee</h5>
				    <ul class="list-unstyled d-flex mb-1">
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    </ul>
				    <span class="text-secondary mr-2" style="font-size: 14px"><del>$40.43</del></span>
				    <span class="text-dark"  style="font-size: 14px">$30.00</span>
				  </div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3  mt-5">
				<div class="card border-0" style="">
				  <img class="card-img-top w-100" src="asset/images/woman5.jpg" alt="Card image cap">
				  <div class="card-body p-0">
				    <h5 class="card-title font-weight-bold mb-1 mt-3" style="font-size: 17px ">Athletic Graphic Tee</h5>
				    <ul class="list-unstyled d-flex mb-1">
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    </ul>
				    <span class="text-secondary mr-2" style="font-size: 14px"><del>$40.43</del></span>
				    <span class="text-dark"  style="font-size: 14px">$30.00</span>
				  </div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 mt-5">
				<div class="card border-0" style="">
				  <img class="card-img-top w-100" src="asset/images/woman2.jpg" alt="Card image cap">
				  <div class="card-body p-0">
				    <h5 class="card-title font-weight-bold mb-1 mt-3" style="font-size: 17px ">Athletic Graphic Tee</h5>
				    <ul class="list-unstyled d-flex mb-1">
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    </ul>
				    <span class="text-secondary mr-4" style="font-size: 14px"><del>$40.43</del></span>
				    <span class="text-dark"  style="font-size: 14px">$30.00</span>
				  </div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3  mt-5">
				<div class="card border-0" style="">
				  <img class="card-img-top w-100" src="asset/images/woman4.jpg" alt="Card image cap">
				  <div class="card-body p-0">
				    <h5 class="card-title font-weight-bold mb-1 mt-3" style="font-size: 17px ">Athletic Graphic Tee</h5>
				    <ul class="list-unstyled d-flex mb-1">
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    </ul>
				    <span class="text-secondary mr-2" style="font-size: 14px"><del>$40.43</del></span>
				    <span class="text-dark"  style="font-size: 14px">$30.00</span>
				  </div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3  mt-5">
				<div class="card border-0" style="">
				  <img class="card-img-top w-100" src="asset/images/woman3.jpg" alt="Card image cap">
				  <div class="card-body p-0">
				    <h5 class="card-title font-weight-bold mb-1 mt-3" style="font-size: 17px ">Athletic Graphic Tee</h5>
				    <ul class="list-unstyled d-flex mb-1">
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    </ul>
				    <span class="text-secondary mr-2" style="font-size: 14px"><del>$40.43</del></span>
				    <span class="text-dark"  style="font-size: 14px">$30.00</span>
				  </div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3  mt-5">
				<div class="card border-0" style="">
				  <img class="card-img-top w-100" src="asset/images/store2.jpg" alt="Card image cap">
				  <div class="card-body p-0">
				    <h5 class="card-title font-weight-bold mb-1 mt-3" style="font-size: 17px ">Athletic Graphic Tee</h5>
				    <ul class="list-unstyled d-flex mb-1">
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    </ul>
				    <span class="text-secondary mr-2" style="font-size: 14px"><del>$40.43</del></span>
				    <span class="text-dark"  style="font-size: 14px">$30.00</span>
				  </div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3  mt-5">
				<div class="card border-0" style="">
				  <img class="card-img-top w-100" src="asset/images/woman5.jpg" alt="Card image cap">
				  <div class="card-body p-0">
				    <h5 class="card-title font-weight-bold mb-1 mt-3" style="font-size: 17px ">Athletic Graphic Tee</h5>
				    <ul class="list-unstyled d-flex mb-1">
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    </ul>
				    <span class="text-secondary mr-2" style="font-size: 14px"><del>$40.43</del></span>
				    <span class="text-dark"  style="font-size: 14px">$30.00</span>
				  </div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 mt-5">
				<div class="card border-0" style="">
				  <img class="card-img-top w-100" src="asset/images/woman2.jpg" alt="Card image cap">
				  <div class="card-body p-0">
				    <h5 class="card-title font-weight-bold mb-1 mt-3" style="font-size: 17px ">Athletic Graphic Tee</h5>
				    <ul class="list-unstyled d-flex mb-1">
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    	<li class=""><a class="text-danger" href="#"><i class="fa fa-star"></i></a></li>
				    </ul>
				    <span class="text-secondary mr-4" style="font-size: 14px"><del>$40.43</del></span>
				    <span class="text-dark"  style="font-size: 14px">$30.00</span>
				  </div>
				</div>
			</div>





		</div>

	</div>
</div>

