



<div class="row mb-4">
	<div class="col-md-12">
		<div class="card bg-dark text-white border-0 rounded-0">
				<img style="height: 400px" class="card-img" src="asset/images/tennis.jpg" alt="Card image">
				<div class="card-img-overlay" style="top: 45% ">
		  		<p class="mb-0 font-weight-bold text-success " style="font-size: 11px; "><span class="text-uppercase">Entertainment</span> / <small class="text-white">9 day ago</small></p>
			    <h2 class="card-title text-uppercase" style="font-size: 35px;">Illinois' Financial <br> Crisis Fallout</h2>		    
			    <p class=" ">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>
			  </div>
		</div>		 
	</div>
</div>

<div class="row">
	<div class="col-md-9">
		<div class="media mt-3 border border-right-0 border-left-0 border-bottom-0">
				  <img class="align-self-center mr-3" src="asset/images/hockey2-400x240.jpg" alt="Generic placeholder image">
				  <div class="media-body align-self-center ">
				   <p class="mb-0 font-weight-bold text-success " style="font-size: 11px; "><span class="text-uppercase">Entertainment</span> / <small class="text-secondary">9 day ago</small></p>
				    <h2 class="font-weight-bold text-dark mt-2" style="font-size: 22px; font-weight: 600">The final 6 ‘Game of Thrones’ episodes might feel like a full season</h2>
				    <p class="pt-2">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem.</p>
				    
				  </div>
		</div>

		<div class="media mt-3 mt-3 border border-right-0 border-left-0 border-bottom-0">
				  <img class="align-self-center mr-3" src="asset/images/boxer-400x240.jpg" alt="Generic placeholder image">
				  <div class="media-body align-self-center ">
				   <p class="mb-0 font-weight-bold text-success " style="font-size: 11px; "><span class="text-uppercase">Entertainment</span> / <small class="text-secondary">9 day ago</small></p>
				    <h2 class="font-weight-bold text-dark mt-2" style="font-size: 22px; font-weight: 600">The final 6 ‘Game of Thrones’ episodes might feel like a full season</h2>
				    <p class="pt-2">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem.</p>
				    
				  </div>
		</div>

		<div class="media mt-3 mt-3 border border-right-0 border-left-0 border-bottom-0">
				  <img class="align-self-center mr-3" src="asset/images/basketball2-400x240.jpg" alt="Generic placeholder image">
				  <div class="media-body align-self-center ">
				   <p class="mb-0 font-weight-bold text-success " style="font-size: 11px; "><span class="text-uppercase">Entertainment</span> / <small class="text-secondary">9 day ago</small></p>
				    <h2 class="font-weight-bold text-dark mt-2" style="font-size: 22px; font-weight: 600">The final 6 ‘Game of Thrones’ episodes might feel like a full season</h2>
				    <p class="pt-2">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem.</p>
				    
				  </div>
		</div>
		<div class="media mt-3 mt-3 border border-right-0 border-left-0 border-bottom-0">
				  <img class="align-self-center mr-3" src="asset/images/baseball-400x240.jpg" alt="Generic placeholder image">
				  <div class="media-body align-self-center ">
				   <p class="mb-0 font-weight-bold text-success " style="font-size: 11px; "><span class="text-uppercase">Entertainment</span> / <small class="text-secondary">9 day ago</small></p>
				    <h2 class="font-weight-bold text-dark mt-2" style="font-size: 22px; font-weight: 600">The final 6 ‘Game of Thrones’ episodes might feel like a full season</h2>
				    <p class="pt-2">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem.</p>
				    
				  </div>
		</div>
		<div class="media mt-3 mt-3 border border-right-0 border-left-0 border-bottom-0">
				  <img class="align-self-center mr-3" src="asset/images/baseball2-1-400x240.jpg" alt="Generic placeholder image">
				  <div class="media-body align-self-center ">
				   <p class="mb-0 font-weight-bold text-success " style="font-size: 11px; "><span class="text-uppercase">Entertainment</span> / <small class="text-secondary">9 day ago</small></p>
				    <h2 class="font-weight-bold text-dark mt-2" style="font-size: 22px; font-weight: 600">The final 6 ‘Game of Thrones’ episodes might feel like a full season</h2>
				    <p class="pt-2">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem.</p>
				    
				  </div>
		</div>

 

	</div>

	<div class="col-md-3">
		<div >
			<small class="text-capitalize text-center d-block text-secondary">advertisment</small>
			<a  href="#"><img class="w-100" src="asset/images/zox300.png" alt=""></a>
		</div>



		 <ul class="nav nav-pills mb-3 mt-4" id="pills-tab" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Latest</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">video</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">gallery</a>
		  </li>
		</ul>
		<div class="tab-content" id="pills-tabContent">
		  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
		  		<div class="media">
				  <img class="align-self-center mr-3" src="asset/images/apartments-80x80.jpg" alt="Generic placeholder image">
				  <div class="media-body">
				   <p class="mb-0 font-weight-bold text-success " style="font-size: 11px; "><span class="text-uppercase">Entertainment</span> / <small class="text-secondary">9 day ago</small></p>
				    <h2 class="font-weight-bold text-dark" style="font-size: 15px; font-weight: 600">The final 6 ‘Game of Thrones’ episodes might feel like a full season</h2>
				    
				  </div>
				</div>
				<div class="media">
				  <img class="align-self-center mr-3" src="asset/images/politics-80x80.jpg" alt="Generic placeholder image">
				  <div class="media-body">
				   <p class="mb-0 font-weight-bold text-success " style="font-size: 11px; "><span class="text-uppercase">Entertainment</span> / <small class="text-secondary">9 day ago</small></p>
				    <h2 class="font-weight-bold text-dark" style="font-size: 15px; font-weight: 600">The final 6 ‘Game of Thrones’ episodes might feel like a full season</h2>
				    
				  </div>
				</div>
				<div class="media">
				  <img class="align-self-center mr-3" src="asset/images/game-thrones-80x80.jpg" alt="Generic placeholder image">
				  <div class="media-body">
				   <p class="mb-0 font-weight-bold text-success " style="font-size: 11px; "><span class="text-uppercase">Entertainment</span> / <small class="text-secondary">9 day ago</small></p>
				    <h2 class="font-weight-bold text-dark" style="font-size: 15px; font-weight: 600">The final 6 ‘Game of Thrones’ episodes might feel like a full season</h2>
				    
				  </div>
				</div>
				<div class="media">
				  <img class="align-self-center mr-3" src="asset/images/vr-headset-80x80.jpg" alt="Generic placeholder image">
				  <div class="media-body">
				   <p class="mb-0 font-weight-bold text-success " style="font-size: 11px; "><span class="text-uppercase">Entertainment</span> / <small class="text-secondary">9 day ago</small></p>
				    <h2 class="font-weight-bold text-dark" style="font-size: 15px; font-weight: 600">The final 6 ‘Game of Thrones’ episodes might feel like a full season</h2>
				    
				  </div>
				</div>

		  	


		  </div>
		  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">..sd.</div>
		  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">.ee..</div>
		</div> 
	</div>
</div>	



