  
 
<nav class="menu-hide navbar navbar-expand-lg navbar-light ">
   
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      	  <li class="nav-item">
				    <a class="nav-link active text-uppercase text-white" ui-sref="features">Features</a>
				  </li>			 
				  <li class="nav-item">
				    <a class="nav-link text-uppercase text-white" ui-sref="buytheme">buy theme</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link text-uppercase text-white" ui-sref="entertainment">entertainment</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link text-uppercase text-white" ui-sref="politics">politics</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link text-uppercase text-white" ui-sref="fashion">fashion</a>
				  </li>
				   <li class="nav-item">
				    <a class="nav-link text-uppercase text-white" ui-sref="sports">sports</a>
				  </li>
				   <li class="nav-item">
				    <a class="nav-link text-uppercase text-white" ui-sref="tech">tech</a>
				  </li>
				   <li class="nav-item">
				    <a class="nav-link text-uppercase text-white" ui-sref="business">business</a>
				  </li>
				   <li class="nav-item">
				    <a class="nav-link text-uppercase text-white" ui-sref="shop">shop</a>
				  </li>
   		 </ul>
    
  </div>
</nav>


<!-- scroll -->


<nav>

	<div class="scroll-nav-btn">
			<button class="btn rounded-0   " type="button"><i class="fa fa-bars"></i></button>
	</div>
	<div class="overlay"></div>

	<div class="scroll-header">

		<div class="cross">closs</div>

		<ul>
			<li><a href="#">fature</a></li>
			<li><a href="#">fature</a></li>
			<li><a href="#">fature</a></li>
			<li><a href="#">fature</a></li>
		</ul>
	</div>


</nav>









